/*navbar section*/
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

}
.container{
     width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
/* ===== Top Bar ===== */

@media (max-width: 768px) {
  .top-bar{
    padding: 15px 20px;
  }
  .social{
    display: none;

  }
  .search input {
    width: 120px;
  }
  .logo {
    font-size: 16px;
  }
  .menu{
    flex-direction: column;

  }
  .section{
    padding: 10px;
  }
}
.top-bar {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #f3f3f3;
    backdrop-filter: blur(10px); /* main blur */
    -webkit-backdrop-filter: blur(10px); /* safari support */
}

.social i {
  width: 25px;
  height:25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}



/* 🔥 Hover Effect */
.social i:hover {
  background: red;
  color: white;
  border-color: red;
  transform: translateY(-3px);
}

.logo {
  text-align: center;
}

.logo h2 {
  margin: 0;
  letter-spacing: 3px;
}

.logo p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

/* Search */
.search {
  display: flex;
  align-items: center;
    background: #f5f5f5;
    border-radius: 30px;
    padding: 5px 10px;
    width: 250px;
}

.search input {
  padding: 10px;
  border: none;
  border-radius: 30px 0 0 30px;
  outline: none;
  background: transparent;
    padding: 8px;
    flex: 1;
    text-align: center;
     border-bottom: 3px solid rgba(142, 142, 142, 0.2);
    
   
}

.search button {
  background: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  border-radius: 0 25px 25px 0;
  cursor: pointer;
   transition: 0.3s;
   font-size: 11px;
  
   

}



.search button:hover {
    background: #ff0000;
    transform: scale(1.0);
}
/* ===== Navbar ===== */
.navbar {
  background: #111;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 18px 0;
}

.navbar ul li {
  margin: 0 25px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
  position: relative;
}

/* 🔴 Hover Text Effect */
.navbar ul li:hover a {
  color: red;
}

/* 🔥 Animated Line (center grow) */
.navbar ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: red;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  transition: 0.4s ease;
}

/* Hover Animation */
.navbar ul li:hover::after {
  width: 100%;
}

/* Active Item */
.navbar ul li.active a {
  color: red;
}

.navbar ul li.active::after {
  width: 100%;
}

/* ✨ Extra smooth effect (slight lift) */
.navbar ul li:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}
